@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
        text-decoration: none;
        list-style: none;
        font-family: "Work Sans", sans-serif;
}

.disply-flex {
        display: flex;
}

.text-gray {
        color: #424242;

}

.text-light-gray {
        color: #727272;
}

.bg-light {
        background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
        background-color: rgb(255, 144, 14);
        color: #fff;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        border-radius: 8px;
        border: none;
}
main{
        max-width: 1440px;
        margin: 0 auto;
}

main > section{
        margin-top: 130px;
}
.text_primary{
        color: rgb(255, 144, 14);;
}
.nav_bar {
        justify-content: space-between;
        padding: 20px;
        align-items: center;
}

.brand {
        font-size: 45px;
        font-weight: 700;
}

.nav_item {
        margin-right: 30px;
        color: rgb(66, 66, 66);
        font-weight: 500;
        text-align: center;
}

.nav_bar,
.banner {
        max-width: 1440px;
        margin: 0 auto;
}

.banner-content {
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;

}
.banner-imgs{
        width: 100%;
}

.banner-title {
        font-weight: 700;
        font-size: 4rem;
}

.banner-discrition {
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
}

/* banner styling end here */

/* tems start here */
.tems_section{
        align-items: center;
}
.temis_contener{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
}
.oure_futer{
        margin-left: 120px;
        max-width: 530px;
}
.feture_title{
        font-size: 2.8rem;
}
.feture_descrition{
        font-size: 16px;
        font-weight: 400;
}

#quicq_list{
        font-weight: 500;
}

/* tems end here */


/* responsive start here */

/* bannse section responsive  start here */
@media screen and (max-width:576px) {
        .nav_bar, .nav_link{
                flex-direction: column;
                gap: 20px;
        }
        .tems_section{
                flex-direction: column;
        }
        .temis_contener{
                grid-template-columns: repeat(1, 1fr);
        }
        .oure_futer{
                margin-left: 20px;
        }
       
}

/* medium device */
@media screen  and (min-width: 576px) and (max-width: 992px) {
        .tems_section{
                flex-direction: column;
        }
        .oure_futer{
                margin-left: 50px auto;
        }
        
        
}


/* bannse section responsive  ends here */

/* responsive ends here */